<div class="container-fluid seccion">
  <div class="row mt-5">
    <div class="col text-center">
      <h1>Curriculum Vitae</h1>
    </div>
  </div>
  <hr>
  <div class="row" @fadeIn>
    <div class="col">
      <div>
        <h4><strong>{{ 'cv.subTitles.experiences' | translate }}</strong></h4>
        <ng-container *ngIf="experiences$ | async as experiences; else loading;">
          <ul *ngFor="let item of experiences" class="timeline" @fadeIn>
            <li style="padding: 0.5rem;">
              <cv-stepper-ui
                [experience]="item">
              </cv-stepper-ui>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="col">
      <h4><strong>{{ 'cv.subTitles.education' | translate }}</strong></h4>
      <ng-container *ngIf="education$ | async as education; else loading;">
        <ul *ngFor="let item of education" class="timeline" @fadeIn>
          <li style="padding: 0.5rem">
            <cv-stepper-ui
              [experience]="item">
            </cv-stepper-ui>
          </li>
        </ul>
      </ng-container>
    </div>
    <div class="col">
      <h4><strong>{{ 'cv.subTitles.languages' | translate }}</strong></h4>
      <ng-container *ngIf="(languages$ | async) as langs; else loading;">
        <ul *ngFor="let item of langs" @fadeIn>
          <li style="list-style-type: none;">
            <cv-lang-item-ui
              [item]="item">
            </cv-lang-item-ui>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <div style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>