<mat-toolbar [color]="'primary'" style="overflow-y: auto;">
    <button mat-icon-button aria-label="Home button" [routerLink]="['/home']" [routerLinkActive]="'active-link'">
        <mat-icon>home</mat-icon>
    </button>
    <span>Lautaro Bernati</span>
    <a type="button" mat-button aria-label="Button to about page" [routerLink]="['/about']" [routerLinkActive]="'active-link'">
        <!-- <mat-icon>info</mat-icon> -->
        About
    </a>
    <a type="button" mat-button aria-label="Button to skills page" [routerLink]="['/skills']" [routerLinkActive]="'active-link'">
        <!-- <mat-icon>list</mat-icon> -->
        Skills
    </a>
    <a type="button" mat-button aria-label="Button to CV page" [routerLink]="['/cv']" [routerLinkActive]="'active-link'">
        CV
    </a>
    <button type="button" mat-button aria-label="Button to contact me page" [routerLinkActive]="'active-link'">
        <!-- <mat-icon>share</mat-icon> -->
        Contact Me
    </button>
</mat-toolbar>