<mat-toolbar [color]="'primary'">
    <button mat-icon-button aria-label="Icon-button with menu icon" [routerLink]="['/home']" [routerLinkActive]="'active-link'">
        <mat-icon>home</mat-icon>
    </button>
    <span>Lautaro Bernati</span>
    <a type="button" mat-button aria-label="Icon-button with heart icon" [routerLink]="['/about']" [routerLinkActive]="'active-link'">
        <!-- <mat-icon>info</mat-icon> -->
        About
    </a>
    <a type="button" mat-button aria-label="Icon-button with share icon" [routerLink]="['/skills']" [routerLinkActive]="'active-link'">
        <!-- <mat-icon>list</mat-icon> -->
        Skills
    </a>
    <button mat-button aria-label="Icon-button with contact icon" [routerLinkActive]="'active-link'">
        <!-- <mat-icon>share</mat-icon> -->
        Contact Me
    </button>
</mat-toolbar>