<mat-toolbar [color]="'primary'">
    <button mat-icon-button color="accent" aria-label="Icon-button with menu icon" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
    </button>
    <span>Lautaro Bernati</span>
    <button mat-button aria-label="Icon-button with heart icon" [routerLink]="['/about']">
        <mat-icon>about</mat-icon>
        About
    </button>
    <button mat-button class="example-icon" aria-label="Icon-button with share icon">
        <mat-icon>share</mat-icon>
        Skills
    </button>
    <button mat-button class="example-icon" aria-label="Icon-button with contact icon">
        <mat-icon>share</mat-icon>
        Contact Me
    </button>
</mat-toolbar>