<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ experience?.Title }}
    </mat-card-title>
    <mat-card-subtitle>
      <div style="display: flex; flex-direction: column;">
        <span>{{ experience?.Subtitle }}</span>
        <span>{{ experience?.From + ' - ' + (experience?.To ?? 'Present') }}</span>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="collapsible" [@collapse]="!showDetails">
      <hr>
      <p>{{ experience?.Description }}</p>
      <p *ngIf="experience?.Tech">
        <strong>Tech:</strong>
        {{ experience?.Tech }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button type="button" mat-button (click)="showDetails = !showDetails;">
      <mat-icon *ngIf="!showDetails">expand_more</mat-icon>
      <mat-icon *ngIf="showDetails">expand_less</mat-icon>
      Details
    </button>
  </mat-card-actions>
</mat-card>