<div class="container-fluid seccion">
  <div class="row mt-5">
    <div class="col">
      <h1 class="text-center">{{ 'about.title' | translate }}</h1>
    </div>
  </div>
  <hr>
  <div class="contenedor" @fadeIn>
    <div class="columna">
      <div class="imagen-botones">
        <img
          alt="image"
          src="assets/images/profile-pic.jpg"
          [height]="300"
          [width]="300"
        />
        <div class="img-btn-area">
          <a
            mat-fab
            color="primary"
            href="https://www.linkedin.com/in/lautarobernati/"
            target="_blank"
            type="button"
          >
            <fa-icon
              size="2x"
              [icon]="faLinkedinIn"
            ></fa-icon>
          </a>
          <a
            mat-fab
            color="primary"
            href="https://github.com/LautaroBernati"
            target="_blank"
            type="button"
          >
            <fa-icon
              size="2x"
              [icon]="faGithub"
            ></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="columna">
      <h3 [translate]="'about.subtitle'"></h3>
      <p
        *ngIf="('about.intro' | translate).toString() as text"
        [title]="(showFullContent ? 'cv.buttons.details.expanded' : 'cv.buttons.details.hidden') | translate"
        (click)="onToggleReadBtn()"
        [innerHTML]="
          (curateText(text) | slice: 0:(showFullContent ? undefined : 350)) + ( !showFullContent ? '...' : '')
        "
      ></p>
      <div class="items-cv">
        <ul>
          <li>
            <fa-icon [icon]="faBirthdayCake" [border]="false"></fa-icon>
            <strong>{{ birthday | date: 'dd-MM-YYYY' }} {{ '(' + calculateAge(birthday) }} {{ ('about.items.years' | translate) + ')' }}</strong>
          </li>
          <li>
            <fa-icon [icon]="faEnvelope" [border]="false"></fa-icon>
            <strong>
              <a href="mailto:lautarobernati@gmail.com">lautarobernati&#64;gmail.com</a>
            </strong>
          </li>
          <li>
            <fa-icon [icon]="faMapMarker" [border]="false"></fa-icon>
            <strong>Argentina</strong>
          </li>
        </ul>
        <ul>
          <li>
            <fa-icon [icon]="atomIcon"></fa-icon>
            <strong>{{ 'about.items.growth' | translate }}</strong>
          </li>
          <li>
            <fa-icon [icon]="capIcon"></fa-icon>
            <strong>{{ 'about.items.diploma' | translate }}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingImage>
  <mat-spinner
    class="spinner"
    [mode]="'indeterminate'"
  ></mat-spinner>
</ng-template>