.ng-fa-icon {
  min-width: 2.5rem;
  color: orange;
}

li {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none
}

.items-cv {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 420px) {
    flex-direction: column;
  }
}

.contenedor {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 420px) {
    flex-direction: column;
  }
}

.imagen-botones {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (max-width: 420px) {
    align-items: center;
  }
}

.columna {
  width: 50%;
  padding: 2rem;

  @media screen and (max-width: 420px) {
    width: 100%;
    padding: 0.5rem;
  }
}