<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="display: flex; justify-content: space-evenly;">
      <mat-panel-title>
        {{ skill?.Framework }}
      </mat-panel-title>
      <mat-panel-description>
        <div
          style="display: flex; flex-direction: column; min-width: 30%; max-width: 70%; width: 100%; align-items: center;">
          <h3 style="margin-bottom: 0px;">{{ 'skills.progressTitle' | translate }}</h3>
          <mat-progress-bar [ngStyle]="{'--mdc-linear-progress-active-indicator-color': getColor(skill?.Progress ?? 0)}"
            [mode]="'determinate'" [value]="skill?.Progress" [bufferValue]="100">
          </mat-progress-bar>
        </div>
        <ng-container *ngIf="skill !== null">
          <fa-icon [icon]="skill.Icon" size="2x"></fa-icon>
        </ng-container>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Content Start -->
    <ng-container *ngFor="let item of skill?.Examples; last as last; first as first;">
      <div class="contenedor">
        <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
          <h2>{{ item.Title }}</h2>
          <small>{{ item.Type | translate }}</small>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <p style="max-width: 65%;">
            {{ item.Desc | translate }}
          </p>
          <div style="max-width: 35%; max-height: 35%;">
            <img [src]="(item.Img | blobToString)" alt="imageOfExample" (click)="onImgClick(item.Img)">
          </div>
        </div>
        <div *ngIf="item.Url" style="align-self: flex-end; margin-top: 1rem;">
          <a type="button" mat-raised-button color="primary" [href]="item.Url" target="_blank">
            <mat-icon>launch</mat-icon>
            <div>{{ 'skills.btnRepo' | translate }}</div>
          </a>
        </div>
      </div>
    </ng-container>
    <!-- Content End -->
  </mat-expansion-panel>
</mat-accordion>