.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-mdc-progress-bar {
  @mixin number-to-color($number) {
    $green: limegreen;
    $red: red;
    $color: mix($red, $green, $number / 100); // Adjust color based on the number
    background-color: $color;
  }
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px lightgrey solid;
  border-radius: 5px;
  margin: 1rem;
}